@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('./assets/Font/alfont_com_AlFont_com_DINNextLTArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DIN Next LT Arabic", "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply Poppins for English content */
body:lang(en),
[lang="en"],
.en {
  font-family: "Poppins", "DIN Next LT Arabic", sans-serif;
}

/* Apply DIN Next for Arabic content */
body:lang(ar),
[lang="ar"],
.ar {
  font-family: "DIN Next LT Arabic", "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
