@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@theme {
  --color-primary: #384b97;
  --color-secondary: #f65331;
  --color-black: #000000;
  --color-primary-light: #384b97d9;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
